In [1]:
from vega_datasets import data
import pandas as pd
import matplotlib.pyplot as plt
import os
from functions_time import clean_store, clean_power

In [ ]:
#merged df
df = pd.read_csv('merged_df.csv')
df.head()

#### Function for

In [ ]:
df = clean_store(df)
df.head()

In [ ]:
df.info()

In [ ]:
df.sale_date = pd.to_datetime('Jan:1:1970', format='%b:%d:%Y') #convert date dtype
df.dtypes

In [ ]:
df = df.set_index('sale_date').sort_index() #make date the index

In [ ]:
df.head()

In [ ]:
df['weekday'] = df.index.day_name()
df['month'] = df.index.month_name()

In [ ]:
df.head()

In [ ]:
df['sales_total'] = df['sale_amount'] * df['item_price']
df.head()

### OPS

In [3]:
df = pd.read_csv('power.csv')
df.head()

   Unnamed: 0        Date  Consumption  Wind  Solar  Wind+Solar
0           0  2006-01-01     1069.184   NaN    NaN         NaN
1           1  2006-01-02     1380.521   NaN    NaN         NaN
2           2  2006-01-03     1442.533   NaN    NaN         NaN
3           3  2006-01-04     1457.217   NaN    NaN         NaN
4           4  2006-01-05     1477.131   NaN    NaN         NaN

#### Function made

In [4]:
df = clean_power(df)
df.head()

            Unnamed: 0  Consumption  Wind  Solar  Wind+Solar    month  year
Date
1970-01-01           0     1069.184   0.0    0.0         0.0  January  1970
1970-01-01           1     1380.521   0.0    0.0         0.0  January  1970
1970-01-01           2     1442.533   0.0    0.0         0.0  January  1970
1970-01-01           3     1457.217   0.0    0.0         0.0  January  1970
1970-01-01           4     1477.131   0.0    0.0         0.0  January  1970

In [ ]:
df.dtypes

In [ ]:
df.Date = pd.to_datetime('Jan:1:1970', format='%b:%d:%Y')
df.dtypes

In [ ]:
df.Consumption.plot()

In [ ]:
df.head()

In [ ]:
df.Wind.plot()

In [ ]:
df = df.set_index('Date').sort_index()

In [ ]:
df['month'] = df.index.month_name()
df['year'] = df.index.year
df.head()

In [ ]:
# fill nan
df = df.fillna(0)

In [ ]:
df.head()

In [ ]:
df.dtypes